{% load static %}
{% block body %}

{% include 'navigation.html' %}

<marquee style="font-family:monotype corsiva; font-size:25px; background-color:darkcyan; color:white;font-weight:bold;margin-top:1%">view jobs</marquee>
<hr>

<table class="container table">
    <thead style="background-color:blue;color:white">
    <tr style="text-align:center">
        <td>SI.NO</td>
        <td>job title</td>
        <td>start date</td>
        <td>End date</td>
        <td>Action</td>



    </tr>
    </thead>
    <tbody style="background-color:cyan;color:black">
    {% for i in job %}
    <tr style="text-align:center">
        <td>{{forloop.counter}}</td>
        <!-- <td>{{i.user.first_name}} {{i.user.last_name}}</td> -->
        <td>{{i.title}}</td>
        <td>{{i.start_date}}</td>
        <td>{{i.end_date}}</td>

        <td><a href="{% url 'user_login' %}" class="btn btn-danger btn-sm" >Login to apply</a> </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}